/*General*/

* {
  font-family: "Times New Roman", sans-serif;
  color: black;
}

/*Media*/

@media screen and (max-width: 750px) {

    /*Header*/
    header {
      font-size: 14px;
    }

    /*Home*/
    div#bio {
      margin-top: -160px;
    }

    div#bio-group {
      flex-direction: column;
      align-items: center;
    }

    img#bio-picture {
      width: 200px;
      height: 200px;
    }

    div#bio-picture-wrapper {
      order: 1;
    }

    div#bio-text {
      order: 2;
      width: 50%;
      text-align: center;
      font-size: 14px;
    }

    /*Writing*/
    div#writing {
      /* margin-top: -210px; */
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
    }

    div#writing-group {
      flex-direction: column;
      align-items: center;
    }

    div#writing-content {
      /* order: 1;
      width: 50%;
      text-align: center;
      font-size: 14px; */
      font-size: 14px;
      order: 1;
      text-align: center;
    }

    /*Project*/
    div#projects {
      margin-top: -150px;
    }

    div#project-group {
      flex-direction: column;
      align-items: center;
    }

    div#project-content {
      order: 1;
      width: 50%;
      text-align: center;
      font-size: 14px;
    }

    /*Testimonials*/
    div#testimonials {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;

    }

    div#testimonial-group {
      flex-direction: column;
      align-items: center;
    }

    div#testimonial-content {
      font-size: 14px;
      order: 1;
      text-align: center;
    }

    /*The Good Book*/
    div#the-good-book {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    div#the-good-book-group {
      flex-direction: column;
      align-items: center;
    }

    div#the-good-book-content {
      font-size: 14px;
      order: 1;
      text-align: center;
    }

    /*Other*/
    footer {
      font-size: 14px;
      text-align: center;
      background-color: #fff;
    }

    div#social-media {
      float: none;
      margin: 10px 20px 10px 0px;
    }

    p#credit {
      display: none;
    }

    p#credit-static {
      display: none;
    }
}

/*Header*/

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background-color: #fff;
}

#heading {
  font-weight: 700;
  margin: 30px 0px 30px 0px;
  text-decoration: none;
}

/* Structure */

.content {
  display: flex;
  flex-direction: row;
  text-align: left;
}

#nav-column {
  flex: 15%;
}

#content-column {
  flex: 45%;
}

#padding-left-column {
  flex: 20%;
}

#padding-right-column {
  flex: 20%;
}

/* Nav Styling */

#nav-items {
  list-style: none;
  text-decoration: none;
}

#main-nav-item {
  font-weight: bold;
}

#sub-nav-item {
  font-weight: normal;
  padding-left: 20px;
}

/* Section Styling */

#section {
  flex: 20%;
}

#section-title {

}

#section-content {
  flex: 20%;
}

/*Footer*/

#credit {
  display: inline-block;
  padding: 10px 0px 10px 0px;
  float: left;
  font-weight: 300;
}

#credit-static {
  display: inline-block;
  padding: 10px 4px 10px 15px;
  float: left;
  font-weight: 300;
}

#social-media {
  display: inline-block;
  margin: 10px 20px 10px 0px;
  float: right;
  font-weight: 500;
}

footer {
  position: fixed;
  height: 60px;
  bottom: 0px;
  width: 100%;
  margin-top: 50px;
  font-weight: bold;
}
